
.DS_Store
.idea/compiler.xml
.idea/misc.xml
.idea/dictionaries/vincenzo.xml
.idea/workspace.xml
.settings/.jsdtscope
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.core.runtime.prefs
target/*.css
*.class
*.jar
target/classes/_ui/css/default.css
target/classes/it/cofidimpresa/controller/FinanziamentiController.class
target/classes/it/cofidimpresa/controller/SociController.class
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.m2e.wtp.prefs
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
.settings/org.eclipse.wst.validation.prefs
target/m2e-wtp/web-resources/META-INF/maven/GestioneSoci/GestioneSoci/pom.properties
target/m2e-wtp/web-resources/META-INF/maven/GestioneSoci/GestioneSoci/pom.xml
.project
target/GestioneSoci/WEB-INF/views/elencoFinanziamenti.jsp
target/GestioneSoci.war
target/GestioneSoci/WEB-INF/classes/_ui/css/bootstrap-theme.css
target/GestioneSoci/WEB-INF/applicationContext.xml
target/GestioneSoci/WEB-INF/classes/_ui/css/bootstrap-theme.css.map
target/GestioneSoci/WEB-INF/classes/_ui/css/bootstrap-theme.min.css
target/GestioneSoci/WEB-INF/classes/_ui/css/bootstrap-theme.min.css.map
target/GestioneSoci/WEB-INF/classes/_ui/css/bootstrap.css
target/GestioneSoci/WEB-INF/classes/_ui/css/bootstrap.css.map
target/GestioneSoci/WEB-INF/classes/_ui/css/bootstrap.min.css
target/GestioneSoci/WEB-INF/classes/_ui/css/bootstrap.min.css.map
target/GestioneSoci/WEB-INF/classes/_ui/css/component.css
target/GestioneSoci/WEB-INF/classes/_ui/css/dashboard.css
target/GestioneSoci/WEB-INF/classes/_ui/css/default.css
target/GestioneSoci/WEB-INF/classes/_ui/css/reset.css
target/GestioneSoci/WEB-INF/classes/_ui/css/style.css
target/GestioneSoci/WEB-INF/classes/_ui/css/wizardform.css
target/GestioneSoci/WEB-INF/classes/_ui/fonts/bpicons/bpicons.eot
target/GestioneSoci/WEB-INF/classes/_ui/fonts/bpicons/bpicons.svg
target/GestioneSoci/WEB-INF/classes/_ui/fonts/bpicons/bpicons.ttf
target/GestioneSoci/WEB-INF/classes/_ui/fonts/bpicons/bpicons.woff
target/GestioneSoci/WEB-INF/classes/_ui/fonts/bpicons/license.txt
target/GestioneSoci/WEB-INF/classes/_ui/fonts/bpmenu/bpmenu.dev.svg
target/GestioneSoci/WEB-INF/classes/_ui/fonts/bpmenu/bpmenu.eot
target/GestioneSoci/WEB-INF/classes/_ui/fonts/bpmenu/bpmenu.svg
target/GestioneSoci/WEB-INF/classes/_ui/images/icons/ricapitolo.png
target/GestioneSoci/WEB-INF/classes/_ui/images/icons/ImgTestata.jpg
target/GestioneSoci/WEB-INF/classes/_ui/images/icons/favicon.ico
target/GestioneSoci/WEB-INF/classes/_ui/images/icons/domandaBanca.png
target/GestioneSoci/WEB-INF/classes/_ui/images/icons/modifica.png
target/GestioneSoci/WEB-INF/classes/_ui/images/icons/fin.png
target/GestioneSoci/WEB-INF/classes/_ui/images/ImgLogoGrigio.jpg
target/GestioneSoci/WEB-INF/classes/_ui/fonts/bpmenu/bpmenu.woff
target/GestioneSoci/WEB-INF/classes/_ui/fonts/glyphicons-halflings-regular.eot
target/GestioneSoci/WEB-INF/classes/_ui/fonts/glyphicons-halflings-regular.woff
target/GestioneSoci/WEB-INF/classes/_ui/images/icons/add.png
target/GestioneSoci/WEB-INF/classes/_ui/images/icons/antiriciclaggio.png
target/GestioneSoci/WEB-INF/classes/_ui/images/icons/delete.png
target/GestioneSoci/WEB-INF/classes/_ui/images/icons/soci.png
target/GestioneSoci/WEB-INF/classes/_ui/images/icons/word.jpeg
target/GestioneSoci/WEB-INF/classes/_ui/images/ImgLogoSimbolo.jpg
target/GestioneSoci/WEB-INF/classes/_ui/images/ImgTestata.jpg
target/GestioneSoci/WEB-INF/classes/_ui/images/icons/map-marker.png
target/GestioneSoci/WEB-INF/classes/_ui/jasperTemplate/AddebitoBancaA4.jrxml
target/GestioneSoci/WEB-INF/classes/_ui/jasperTemplate/RicapitoloA4.jrxml
target/GestioneSoci/WEB-INF/classes/_ui/images/ImgSoloScritta.jpg
target/GestioneSoci/WEB-INF/classes/_ui/js/bootstrap.min.js
target/GestioneSoci/WEB-INF/classes/_ui/js/cbpHorizontalSlideOutMenu.min.js
target/GestioneSoci/WEB-INF/classes/_ui/js/index.js
target/GestioneSoci/WEB-INF/classes/_ui/js/multiselect.js
target/GestioneSoci/WEB-INF/classes/_ui/js/npm.js
target/GestioneSoci/WEB-INF/classes/_ui/js/soci.js
target/GestioneSoci/WEB-INF/classes/log4j.properties
target/GestioneSoci/WEB-INF/classes/messages/messages_it.properties
target/GestioneSoci/WEB-INF/classes/scriptdb/antiriciclaggio.sql
target/GestioneSoci/WEB-INF/classes/application.properties
target/GestioneSoci/WEB-INF/classes/scriptdb/ateco-2007-struttura_csv_2.csv
target/GestioneSoci/WEB-INF/classes/_ui/images/ImagePieDiLista.png
target/GestioneSoci/WEB-INF/classes/_ui/js/bootstrap.js
target/GestioneSoci/WEB-INF/classes/_ui/js/modernizr.custom.js
target/GestioneSoci/WEB-INF/classes/messages/messages.properties
target/GestioneSoci/WEB-INF/classes/_ui/js/cbpHorizontalSlideOutMenu.js
target/GestioneSoci/WEB-INF/classes/_ui/js/wizardform.js
target/GestioneSoci/WEB-INF/classes/scriptdb/ateco.sql
target/GestioneSoci/WEB-INF/classes/scriptdb/migrazione_postgres.sql
target/GestioneSoci/WEB-INF/classes/scriptdb/antiriciclaggiotmp.sql
target/GestioneSoci/WEB-INF/classes/scriptdb/finanziamenti.sql
target/GestioneSoci/WEB-INF/classes/scriptdb/soci.sql
target/GestioneSoci/WEB-INF/classes/scriptdb/ProduzioneSQL.sql
target/GestioneSoci/WEB-INF/config/dao-spring-beans.xml
target/GestioneSoci/WEB-INF/classes/scriptdb/updateAntiriciclaggio.sql
target/GestioneSoci/WEB-INF/config/spring-beans.xml
target/GestioneSoci/WEB-INF/classes/scriptdb/profile_table.sql
target/GestioneSoci/WEB-INF/config/spring-datasource.xml
target/GestioneSoci/WEB-INF/config/spring-security-config.xml
target/GestioneSoci/WEB-INF/classes/_ui/js/multiselect.min.js
target/GestioneSoci/WEB-INF/config/spring-mvc-config.xml
target/GestioneSoci/WEB-INF/views/dashboard.jsp
target/GestioneSoci/WEB-INF/views/finanziamentiFilter.jsp
target/GestioneSoci/WEB-INF/views/elencoAntiriciclaggio.jsp
target/GestioneSoci/WEB-INF/views/generaFileCrif.jsp
target/GestioneSoci/WEB-INF/views/hello.jsp
target/GestioneSoci/WEB-INF/config/facades-spring-beans.xml
target/GestioneSoci/WEB-INF/dispatcher-servlet.xml
target/GestioneSoci/WEB-INF/views/elencoSoci.jsp
target/GestioneSoci/WEB-INF/views/insAntiriciclaggio.jsp
target/GestioneSoci/WEB-INF/views/insFinanziamento.jsp
target/GestioneSoci/WEB-INF/views/menu.jsp
target/GestioneSoci/WEB-INF/views/modAntiriciclaggio.jsp
target/GestioneSoci/WEB-INF/views/insertSoci.jsp
target/GestioneSoci/WEB-INF/views/modificaFinanziamento.jsp
target/GestioneSoci/WEB-INF/views/testata.jsp
target/GestioneSoci/WEB-INF/classes/_ui/fonts/bpmenu/bpmenu.ttf
target/GestioneSoci/WEB-INF/classes/_ui/fonts/glyphicons-halflings-regular.ttf
target/GestioneSoci/WEB-INF/classes/_ui/images/icons/addebitoBanca.png
target/GestioneSoci/WEB-INF/classes/_ui/jasperTemplate/DomandaBancaA4.jrxml
target/GestioneSoci/WEB-INF/views/messages.jsp
target/GestioneSoci/WEB-INF/views/reportExcel.jsp
target/GestioneSoci/WEB-INF/classes/_ui/images/bg-01.jpg
target/GestioneSoci/WEB-INF/classes/_ui/fonts/glyphicons-halflings-regular.woff2
target/GestioneSoci/WEB-INF/classes/_ui/fonts/bpmenu/license.txt
target/GestioneSoci/WEB-INF/classes/_ui/fonts/glyphicons-halflings-regular.svg
target/GestioneSoci/WEB-INF/classes/_ui/images/icons/calendar.gif
target/GestioneSoci/WEB-INF/views/head.jsp
target/GestioneSoci/WEB-INF/views/login.jsp
target/GestioneSoci/WEB-INF/views/modificaSocio.jsp
target/GestioneSoci/WEB-INF/web.xml
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
