
.DS_Store
.idea/compiler.xml
.idea/misc.xml
.idea/dictionaries/vincenzo.xml
.idea/workspace.xml
.settings/.jsdtscope
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.core.runtime.prefs
target/*.css
*.class
*.jar
target/classes/_ui/css/default.css
target/classes/it/cofidimpresa/controller/FinanziamentiController.class
target/classes/it/cofidimpresa/controller/SociController.class
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.m2e.wtp.prefs
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
.settings/org.eclipse.wst.validation.prefs
target/m2e-wtp/web-resources/META-INF/maven/GestioneSoci/GestioneSoci/pom.properties
target/m2e-wtp/web-resources/META-INF/maven/GestioneSoci/GestioneSoci/pom.xml
.project
